body {
    background-color: #000000;
}

#videosContainer {
    background-color: #111313;
    color: white;
}

span.vTitle {
    color: white;
}

span.publishTime {
    color: white;
}

span.channelName {
    color: white;
}

#looding-icon {
    border: solid 0.1vw white;
}

#looding-icon::after {
    background-color: white;
}

footer {
    color: white;
}
#youtubeSearchBox {
    background-color: #161818;
    color: white;
}
#youtubeSearchBox:hover{
    background-color:#303134;
}
.details:hover{
    filter:brightness(111%);
    background-color:#303134;
    border-radius: 15px;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #161818 inset !important;
    -webkit-text-fill-color: #ffffff;
}