body {
    background-color: white;
}

#videosContainer {
    background-color: white;
}

span.vTitle {
    color: black;
}

span.publishTime {
    color: black;
}

span.channelName {
    color: black;
}

#looding-icon {
    border: solid 0.1vw black;
}

#looding-icon::after {
    background-color: black;
}

footer {
    color: black;
}

#youtubeSearchBox {
    background-color: white;
    color: black;
}
#youtubeSearchBox:hover {
    box-shadow: -2px 2px 4px 0px #dddddd;
}
.details:hover{
    filter:brightness(89%);
    background-color:#fffefe ;
    border-radius: 15px;
}
.duration{
    color:white;
}