@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');



.dbt {
    background-color: #42cc27;
    font-size: 1.5vw;
    color: white;
    vertical-align: top;
    border: 0.1vw solid white;
    display: none;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}

.dbt:hover {
    background-color: #46da28;
    transition: 500ms;
}

#obt {
    background-color: #3582c0;
    font-size: 1.5vw;
    color: white;
    vertical-align: top;
    border: 0.1vw solid white;
    display: none;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}

#obt:hover {
    cursor: pointer;
    background-color: #3582c0;
    transition: 500ms;

}

#obt>span {
    color: white;
    padding: 3vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
    margin-bottom: 1vh;
}

#download {
    color: white;
    margin-left: 0.5vw;
    margin-top: -1vh;
    vertical-align: middle;
    display: inline-block;
    margin: 1vw;

}


#URLText {
    width: 20%;
    height: 3vh;
    margin: 5px;
    margin-left: 40%;
    margin-right: 40%;
    outline: none;
    border: .5px solid rgba(128, 128, 128, 0.348);
    border-radius: 6vh;
    font-size: 2vh;
    padding-left: 2.8vh;
    position: relative;
    font-weight: 100;
    box-sizing: border-box;
}




@keyframes hideIcon {
    from {
        top: 0px;
        font-size: 7vw;
    }

    to {
        font-size: 1.5vw;
        letter-spacing: .4vw;
    }
}

@keyframes returnWhenNull {
    from {
        top: 0px;
    }

    to {
        display: block;
        margin-top: 0px;
    }
}

h2 {
    font-size: 3vw;
}

/*///////////////////////Styling YouTube Place/////////////////////*/
#videosContainer {
    box-shadow: 0 0 15px -7px black;
    box-sizing: border-box;
    width: max-content;
    max-width: 90vw;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    font-weight: 100;
    padding: 4%;
    border-radius: 2vw;
    position: relative;
    display: none;
    display: flex;
    flex-direction: column;
    gap: 21px;

}
/* 155px height and 275px width in youtube with a ratio 31/55*/
div.thumbnail {
    aspect-ratio: 16/9;
    width: 400px;
    height: auto;
    position: relative;
    display: inline-block;
    margin: auto 0;
    overflow: hidden;
}
div.thumbnail>img {
    aspect-ratio: 16/9;
    width: 100%;
}

.text {
    display: inline-block;
    padding-left: 1vw;
    width: 68%;
}

.vTitle {

    font-size: 1.4rem;
    /* display: flex;
    flex-wrap: wrap; */
    max-width: 50vw;
    padding-top: 10px;

}

.publishTime {

    font-size: 1.2rem;
    opacity: 0.6;
    display: flex;
    flex-wrap: nowrap;
    margin-top: .5vh;
}

.channelName {
    font-size: 1.2rem;
    opacity: 0.6;
}

.details {
    margin-top: 1vh;
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.channel {
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1 / 1 !important;
    height: 100% !important;
    width: auto !important;
    margin-left: 50%;
    transform: translateX(-50%);
}


.videoIcon {
    position: relative;
    left: 0;
    width: 100%;
    border-radius: 15px;
    vertical-align: top;
}

/*/////////////Loading Icon///////////////*/
#looding-icon {
    border-radius: 50%;
    background-color: transparent;
    height: 5vw;
    width: 5vw;
    animation: infinite 1400ms loading linear;
    margin-left: auto;
    margin-right: auto;

}

#looding-icon::after {
    border-radius: 50%;
    content: "";

    box-sizing: border-box;
    width: 1vw;
    height: 1vw;
    position: absolute;
    z-index: 5;
    margin: 0.3vw;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.down {
    opacity: 50%;
    cursor: no-drop;

}



/*////////////////Darkmode Button///////////////*/
#darkmode {
    width: 4vw;
    height: 1.7vw;
    border-radius: 1vw;
    position: relative;
    top: 0.5vh;
    margin: 1vw;
    box-sizing: border-box;
    padding: 0;
    background-color: #49fc79;
    z-index: 5;
    /* max-width: 57px;
    max-height: 28px; */
}

.dmodeOn {
    animation: bon forwards 250ms;
}

.dmodeOff {
    animation: boff forwards 250ms;
}

@keyframes bon {
    from {
        background-color: #49fc79;
    }

    to {
        background-color: gray;
    }
}

@keyframes boff {
    from {
        background-color: gray;
    }

    to {
        background-color: #49fc79;
    }
}

#ball {
    border: 0.2vw solid white;
    height: 1.7vw;
    width: 1.7vw;
    border-radius: 1vw;
    margin: 0;
    padding: 0;
    position: absolute;
    vertical-align: middle;
    box-shadow: 0 0 25px 0 black;
    box-sizing: border-box;
}

.dmodeBallOn {
    animation: on 50ms ease-out forwards;
}

.dmodeBallOff {
    animation: off 50ms ease-out forwards;
}

@keyframes on {
    from {
        left: 0vw;
    }

    to {
        left: 2.4vw;
        background-color: gray;
    }
}

@keyframes off {
    from {
        left: 2.5vw;
    }

    to {
        left: 0vw;
    }
}

/*///////////////////////////////////////////////*/
/*///////////////////settings button/////////////*/
ul {
    position: relative;
    padding: 1vw;
    opacity:0%;
    user-select: none;
    list-style: none;
    z-index: 5;
    top: 0vw;
    left: 4vw;
    background-color: azure;
    margin-top: 0;
    margin-left: -200%;
    width: max-content;
    height: max-content;
    border-radius: 1vw;
    box-shadow: 0px 12px 16px -10px black;
}

ul>span {
    font-size: 1vw;
}

#settings {
    height: 3vw;
    width: 3vw;
    position: absolute;
    left: 89vw;
    top: 1%;

}
#settings > svg:hover{
    filter: brightness(140%);
    transition:300ms;
    cursor:pointer;
}

#settings > svg {
    position: relative;
    z-index: 6;
    color: #3582c0;
    width: 3vw;
    transition:300ms;
}
.liststyle{
    width:100%;
    top:0px;
}

/*///////////Small screens////*************************************************/
@media (max-width:960px) {

    /*///////////////////////Styling YouTube Place/////////////////////*/
    a {
        font-size: 2vw;
    }


    /*/////////////Loading Icon///////////////*/
    #looding-icon {
        border-radius: 50%;
        background-color: transparent;
        height: 5vw;
        width: 5vw;
        animation: infinite 1400ms loading linear;
        margin-left: auto;
        margin-right: auto;

    }

    #looding-icon::after {
        border-radius: 50%;
        content: "";
        box-sizing: border-box;
        width: 1vw;
        height: 1vw;
        position: absolute;
        z-index: 5;
        margin: 0.3vw;
    }

    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 9vh;
        width: 83vw;
        height: 44vw;
    }

    #youtubeSearchBox {
        height: 5.5vh;
        font-size: 2.5vh;
    }

    #URLText {
        height: 4vh;
        width: 50%;
        margin-left: 25%;
        font-size: 2.5vh;
    }

    #obt {
        height: 10vw;
        width: 20vw;
        font-size: 4vw;
    }

    .channel {
        width: 92px;
        height: 92px;
    }

    .videoIcon {
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    /*////////////////Darkmode Button///////////////*/
    #darkmode {
        width: 10vw;
        height: 5vw;
        border-radius: 5vw;
        padding: 0;
        background-color: #49fc79;
        margin-top: 2vw;
    }

    .dmodeOn {
        animation: bon forwards 250ms;
    }

    .dmodeOff {
        animation: boff forwards 250ms;
    }

    @keyframes bon {
        from {
            background-color: #49fc79;
        }

        to {
            background-color: gray;
        }
    }

    @keyframes boff {
        from {
            background-color: gray;
        }

        to {
            background-color: #49fc79;
        }
    }

    #ball {
        border: 0.5vw solid white;
        height: 5vw;
        width: 5vw;
        border-radius: 7vw;
        margin: 0;
        padding: 0;
        position: absolute;
        vertical-align: middle;
        box-shadow: 0 0 1px 0 black;
    }

    .dmodeBallOn {
        animation: on 50ms ease-out forwards;
    }

    .dmodeBallOff {
        animation: off 50ms ease-out forwards;
    }

    @keyframes on {
        from {
            left: 0vw;
        }

        to {
            left: 4.9vw;
        }
    }

    @keyframes off {
        from {
            left: 2.5vw;
        }

        to {
            left: 0vw;
        }
    }

    ul {
        position: relative;
        padding: 1vw;
        user-select: none;
        list-style: none;
        z-index: 5;
        top: 1vw;
        margin-top: -50%;
        background-color: azure;
        margin-left: -350%;
        width: max-content;
        height: max-content;
    }

    ul>li>span {
        font-size: 200%;
    }

    #settings > svg {
        width: 6vw;
    }

    footer {
        font-size: 2vw;
    }
    .liststyle{
        width:100%;
        top:0px;
    }
    .duration {
        bottom : 1px;
        font-size : 2.5vw;
    }
    /*///////////////////////////////////////////////*/
}