.label.small {
    height: calc(((4 / 1280 * 100vw) + 2.5rem));
    overflow: hidden;
    margin: 10px;
}

.label.small>span {
    font-size: calc(((4 / 1280 * 100vw) + 1.5rem)) !important;
}
.small{
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
.header{
    display:grid;
    grid-template-columns: 15% 79% 6%;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0 0 20px 0px black;
    background-color: white;
    z-index:5;
}
.margin{
    margin: 10vh;
}