@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
main{
  position: relative;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); */
  margin: auto;
  height: 95%;
}
h1 {
  text-align: center;
  user-select: none;
}
* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9vh;
  width: 60vw;
  min-height: 177px;
  height: 35vw;
  background-color: black;
}

@keyframes loading {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
@keyframes makeLoading{
  from{
      background: rgba(128, 128, 128, 0.5);
  }
  50%{
      background: rgba(128, 128, 128, 0.765);
  }
  to{
      background: rgba(128, 128, 128, 0.5);
  }
}